/*------------------------------
          Best Practice
------------------------------*/

.bestPractice h3{ position: relative; z-index: 1;}
.bestPractice p{ position: relative; z-index: 1;}
.bestPractice img:nth-child(2){ top: 30px;right: 20px;z-index: 0;}
.card:hover img { animation: plateRotate 2s infinite linear }

@keyframes plateRotate {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
